.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  background-color: white;
  color: #28104E;
}

form {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input {
  width: 200px;
  margin: 10px;
  padding: 5px 10px;
}

form button {

  color: white;
  background-color: #6237A0;
  border: 2px solid #6237A0;
  border-radius: 5px;
  padding: 8px 16px;
}
form button:hover {

  color: white;
  background-color: #6237A0;
  border: 2px solid #6237A0;
  border-radius: 5px;
  padding: 8px 16px;
}