.Navigation {
  display: flex;
  background-color: slategray;
  height: 60px;
  font-size: 24px;
  font-family: monospace;
}

.Navigation-home {
  text-align: left;
  margin-right: 80%;
  margin-left: 5%;
  text-decoration: none;
}

.Navigation-listings {
  text-align: right;
  margin-left: -360px;
  margin-right: 60px;
  text-decoration: none;
}

.Navigation-signup {
  text-align: right;
  margin-right: 60px;
  text-decoration: none;
}

.Navigation-add {
  text-align: right;
  margin-right: 60px;
  text-decoration: none;
}

.Navigation-login {
  margin-right: 60px;
  text-decoration: none;
}

.Navigation-logout {
  text-align: right;
  margin-right: 180px;
  text-decoration: none;
}

.active {
  color: aquamarine;
}