.Navigation {
  display: flex;
  background-color: #4137a0;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  flex-direction: row;
  justify-content: space-between;
}

.Navigation a {
  padding: 0.5em 0.5em;
  width: 5em;
  display: inline-block;
  color: white;
  text-decoration: none;
}

.Navigation a:hover {
  color: #d2f2ff;
}

.Navigation a.active {
  font-weight: bold;
  color: #28104E;
}